:root{
    /* o ROOT define variaveis que podem ser reutilizadas em
    todo o documento.
    
    as variaveis começam com -- para utilizar var(--nome)*/

    --primary-color: #b4637a;
    --secondary-color: #286983;
    --background-color: #faf4ed;
    --text-color: #575279;
    --red: #b4637a;
}

.dark-mode{
    --primary-color: #eb6f92;
    --secondary-color: #31748f;
    --background-color: #191724;
    --text-color: #e0def4;
}