:root{
    /* o ROOT define variaveis que podem ser reutilizadas em
    todo o documento.
    
    as variaveis começam com -- para utilizar var(--nome)*/

    --primary: #56949f;
    --secondary: #907aa9;
    --background-color: #faf4ed;
    --text-color: #575279;
    --red: #b4637a;
}

.dark-mode{
    --primary: #9ccfd8;
    --secondary: #c4a7e7;
    --background-color: #191724;
    --text-color: #e0def4;
}